@import "_base.scss";
@import "_loading_22.scss"; 
$orange:#f49f4f;
.wrap{
    //visibility: hidden;
}
html,body{
    width: 100%;
    max-width: 750px;  
    height: 100%;
    margin: 0 auto;
    //min-height:REM(1039);
    position: relative;
}
img{
    display: block;
    width: 100%;
}
.hide{
    display: none;
}
[v-cloak]{
    display: none;
}
body{
    background: url($URL+'bg.jpg') repeat;
    background-size: REM(97) REM(98);
}
#index-box{
    width: 100%;
    //display: -webkit-flex;
    //display: flex;
    //display: -webkit-box;
    //display: -moz-box;
    //display: -ms-flexbox;
    //flex-direction: column;
    height: 100%;
    .top{
        width: 100%;
        height: REM(730);
        .title{
            position: absolute;
            width: 100%;
            left: 0;
            top: REM(75);
        }
        .count{
            position: absolute;
            width: 100%;
            text-align: center;
            left: 0;
            top: REM(470);
            color:#ffffff;
            font-style: REM(26);
        }
        .logo{
            width: REM(180);
            position: absolute;
            left: 50%;
            margin-left: REMTWO(164);
            top: REM(510);
        }
        .btn-box{
            width: 100%;
            position: absolute;
            left: 0;
            top: REM(600);
            span{
                width: REM(283);
                float: left;
                display: block;
                &:nth-child(1){
                    margin-left: REM(70);
                }
                &:nth-child(2){
                    float: right;
                    margin-right: REM(70);
                }
            }
        }
    }
    .rankingBox{
        width: 100%;
        height: calc(100% - 26rem);
        position: relative;
        .ranking{
            width: 90%;
            height: 90%;
            position: absolute;
            background: #fff;
            left: 5%;
            ul{
                width: 90%;
                margin: REM(30) auto;
                height: calc(100% - 2rem);
                overflow: auto;
                li{
                    border-bottom: 1px #eeeeee solid;
                    padding: REM(10) 0;
                    p{
                        font-size: REM(20);
                        color: #000;
                        span{
                            &:nth-child(2){
                                float: right;
                                color: #acacac;
                            }
                        }
                    }
                }
            }
            .line1{
                position: absolute;
                width: 95%;
                height: REM(16);
                left: 2.5%;
                top: REM(10);
                background: url($URL+"line_01.png") repeat-x;
                -webkit-background-size: REM(30) REM(16);
                background-size: REM(30) REM(16);
            }
            .line2{
                position: absolute;
                width: REM(16);
                height:84%;
                left:REM(10);
                top: 8%;
                background: url($URL+"line_02.png") repeat-y;
                -webkit-background-size: REM(16) REM(30);
                background-size: REM(16) REM(30);
            }
            .line3{
                position: absolute;
                width: REM(16);
                height:84%;
                right:REM(10);
                top: 8%;
                background: url($URL+"line_02.png") repeat-y;
                -webkit-background-size: REM(16) REM(30);
                background-size: REM(16) REM(30);
            }
            .line4{
                position: absolute;
                width: 95%;
                height: REM(16);
                left: 2.5%;
                bottom: REM(10);
                background: url($URL+"line_01.png") repeat-x;
                -webkit-background-size: REM(30) REM(16);
                background-size: REM(30) REM(16);
            }
        }
    }
}

.cover{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 100;
    top: 0;
    position: fixed;
    left: 0;
    .coverBox{
        width: REM(600);
        position: absolute;
        background: #FFFFFF;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        left: 50%;
        top: 50%;
        margin-top:REMTWO(300);
        height: REM(230);
        margin-left: REMTWO(600);
        padding: REM(80) 0 0;
        position: relative;
        input{
            display: block;
            width: 80%;
            margin: 0 auto;
            height: REM(80);
            line-height: REM(80);
            border: 1px #eeeeee solid;
            text-indent: 10px;
            font-size:REM(28);
        }
        .btn-box{
            width: 100%;
            height: REM(60);
            position: absolute;
            bottom: 0;
            border-top: 1px #eee solid;
            padding: REM(10) 0;
            span{
                width: 50%;
                height: REM(60);
                line-height: REM(60);
                text-align: center;
                display: block;
                float: left;
                font-size:REM(28);
                &:nth-child(1){
                    border-right: 1px #eeeeee solid;
                    margin-left: -1px;
                }
                &:nth-child(2){
                    color: #ff503f;
                }
            }
        }
    }

}
.share{
    img{
        width: REM(555);
        display: block;
        position: absolute;
        right: REM(50);
        top: REM(10);

    }
}

.sign_page_scrollBody::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 0px #fff;
    border-radius: 0px;
    background-color: #fff;
}
.sign_page_scrollBody::-webkit-scrollbar
{
    width:5px;
    background-color: #eeeeee;
}

.sign_page_scrollBody::-webkit-scrollbar-thumb
{
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px #eeeeee;
    background-color: #eeeeee;
}