<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/weui.css">
</head>
<body>
    <div class="wrap index_page" id="index-box"> 
        <!-- 活动规则 -->
        <div class="page1" v-show="pageStatus.one">
            <div class="pageBox">
                <img class="title" src="images/rule_title.png" alt="">
                <p>即日起-2018年02月28日活动期间，签约我行电银渠道，同时激活存款账户，即可在微信端上随机领取京东电子卡、CBA明星签名篮球、现金红包等丰厚奖品</p>
                <div><a href="javascript:;">活动奖项</a></div>
                <div><img src="images/gift.png" alt=""></div>
                <div><a href="javascript:;">抽奖结果</a></div>
                <p>电子券奖品以短信形式发送至客户中奖手机；实物奖品待活动结束后统一寄送,数量有限，先到先得!</p>
                <p class="tip">活动最终解释权在法律允许的范围内归稠州银行所有</p>
            </div>
        </div>
        <!-- 首页 -->
        <div class="page2" v-show="pageStatus.two">
            <img src="images/logo.png" class="logo" alt="">
            <img src="images/title.png" class="title" alt="">
            <p>活动期间，签约我行电银渠道，同时激活存款账户，即可在微信端上随机领取京东电子卡、CBA明星签名篮球、现金红包等丰厚奖品。【数量有限，先到先得】</p>
            <div class="btn-box">
                <a href="javascript:;"><img src="images/go.png" alt=""></a>
                <a href="javascript:;"><img src="images/rule.png" alt=""></a>
            </div>
        </div>
        <!-- 开奖页 -->
        <div class="page3" v-show="pageStatus.three">
            <img src="images/chai.png" class="chai" alt="">
        </div>

        <!-- 京东电子卡和篮球奖品弹框 -->
        <div class="model giftModel" v-show="model.gift">
            <div class="modelBox">
                <div class="modelHeader"></div>
                <div class="modelBody">
                    <img :src="gift.imgSrc[gift.num]"  :class="[gift.num == 2 ? 'redpackImg':'giftImg']" alt=""> <!--images/gift2.png-->
                    <img class="openRed" v-if="gift.num == 2" src="images/kai.png" :class="[open ? 'kai_active':'']" alt=""> <!--kai_active-->
                    <img src="images/line.png" class="line" alt="">
                    <p class="txt">恭喜您</p>
                    <p>{{gift.txt[gift.num]}}</p> <!--获得京东电子券-->
                    <p v-show="gift.num != 2"><input type="text" name="" id="" v-model="gift.phone"></p>
                </div>
                <div class="modelFooter">
                    <span class="submit" v-show="gift.num != 2">
                        <img src="images/submit.png"  alt="">
                    </span>                    
                </div>
            </div>
        </div>        
        <!-- 确认电话号码弹框 -->
        <div class="model phoneModel" v-show="model.phone">
            <div class="modelBox">
                <div class="modelHeader"></div>
                <div class="modelBody">
                    <img src="images/phone.png" alt="">
                    <p>您输入的手机号码为</p>
                    <h3>18825369856</h3>
                </div>
                <div class="modelFooter clf">
                    <span class="back">
                        <img src="images/back.png"  alt="">
                    </span>
                    <span class="sure">
                        <img src="images/sure.png"  alt="">
                    </span>                    
                </div>
            </div>
        </div>
        <!-- 奖品结果弹框 -->
        <div class="model resultModel" v-show="model.result" :class="[gift.num == 2 ? 'rewardModelRed' : '']"> 
            <div class="modelBox">
                <i class="close"><img src="images/close.png" alt=""></i>
                <div class="modelHeader"></div>
                <div class="modelBody" v-if="gift.num != 2">
                    <img :src="gift.resultSrc[gift.num]" class="giftImg" alt=""> <!--images/gift2.png-->
                    <p class="txt" v-html="gift.resultTxt[gift.num]"></p>
                    <p v-if="gift.num == 0">将发送至该{{gift.phone}}号码</p>
                    <p v-if="gift.num == 1">我们会与该{{gift.phone}}联系，<br/>请保持手机通畅</p>
                </div>
                <div class="modelMoney" v-else>
                    <img :src="gift.resultSrc[gift.num]" alt=""> <!--images/gift2.png-->
                    <p>{{gift.money}}<b>元</b></p>
                </div>
                <div class="modelFooter">
                    <p>注意信息查收，如有疑问<br>请拨打客服电话：0571-96527</p>                    
                </div>
            </div>
        </div>
        <!-- 抱歉弹框 -->
        <div class="model sorryModel" v-show="model.sorry">
            <div class="modelBox">
                <!-- <i class="close"><img src="images/close.png" alt=""></i> -->
                <div class="modelHeader"></div>
                <div class="modelBody">
                    <img class="img1" v-if="!sorry.num" src="images/sorry_1.png" alt="">
                    <img class="img1" v-if="sorry.num" src="images/sorry_2.png" alt="">
                    <div>
                        <p v-html="sorry.txt[sorry.num]"></p>
                    </div>
                </div>
                <div class="modelFooter clf">
                    <div v-if="sorry.num == 1 || sorry.num == 3 || sorry.num == 5">
                        <a href="javascript:;" class="submit"><img src="images/sure_close.png" alt=""></a>
                    </div>
                    <div v-if="sorry.num == 2">
                        <a href="javascript:;" class="submit"><img src="images/go_sign.png" alt=""></a>
                    </div>    
                    <div v-if="sorry.num == 4">
                            <span class="back">
                                <img src="images/refuse.png"  alt="">
                            </span>
                            <span class="sure">
                                <img src="images/jihuo.png"  alt="">
                            </span> 
                    </div>           
                </div>
            </div>
        </div>

        <!-- 红包中间红包 -->
        <!-- <div class="model redPackModel" v-show="model.redpack">
            <div class="modelBox">
                <div class="modelHeader"></div>
                <div class="modelBody">
                    <img src="images/result_gift.png" class="giftImg" alt=""> 
                    <p>京东电子券<br>将发送至该手机号码</p>
                </div>
                <div class="modelFooter">
                    <p>注意信息查收，如有疑问<br>请拨打客服电话：0571-96527</p>                    
                </div>
            </div>
        </div> -->
        <!-- 加载中 -->
        <div id="loadingToast" v-show="loading.status">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-loading weui-icon_toast"></i>
                <p class="weui-toast__content" v-html="loading.txt"></p>
            </div>
        </div>
        <!--按钮提示框-->
        <!--BEGIN dialog2-->
        <div class="js_dialog" id="iosDialog2" v-show="dialog.status">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">{{dialog.txt}}</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" @click="dialog.status = false">知道了</a>
                </div>
            </div>
        </div>
        <!-- 提示框，1000消失 -->
        <div class="tipBox" v-show="alert.status">
            <div class="tibBox_inner">
                <p v-html="alert.txt"></p>
            </div>
        </div>
    </div>
    <script src="js/zepto.min.js"></script>
    <script type="text/javascript">
        var basep = "images/", //图片目录
            preLoadSource = [ //背景资源

            ];
    </script>
    <script src="js/loading.js"></script>
    <script src="js/vue.min.js"></script>
    <script>
        //加载资源数组必须在loading之前进行配置
        $(function () {
            new Vue({
                el: "#index-box",
                data: {
                    pageStatus:{
                        one:false,     //活动规则
                        two:false,     //首页
                        three:true,    //开奖页
                    },
                    model:{
                        // redpack:false,   
                        result:false,   //奖品结果
                        phone:false,    //填写手机号码
                        gift:false,      //领奖
                        sorry:true,      //提示
                    },
                    gift:{
                        imgSrc:['images/gift1.png','images/gift2.png','images/gift3.png'],
                        resultSrc:['images/result_gift.png','images/gift2.png','images/win_3.png'],
                        resultTxt:['京东电子券','篮球已成功领取'],
                        txt:['获得京东电子券','获得CBA明星签名篮球','获得现金红包'],
                        num:2,      //0京东 1篮球  2红包
                        phone:'18825036989',
                        money:100
                    },
                    open:false,      //是否在开红包
                    sorry:{
                        txt:['','我行客服将尽快与您联系<br/>如有疑问，请拨打客服电话<br/><span>0571-96527</span>','您还未签约我行微信银行','本周您已领取过奖品,下周再来吧!','您还未达到账户激活标准哦','本周奖品已领完，期待下次吧。'],
                        num:4,       
                        //1-我行客服将尽快与您联系如有疑问，请拨打客服电话 (确定) 
                        //2-您还未签约我行微信银行 (去签约)
                        //3-本周您已领取过奖品,下周再来吧! （确定）
                        //4-您还未达到账户激活标准哦  （拒绝  激活）
                        //5-本周奖品已领完，期待下次吧。 （确定）
                    },
                    loading:{        //加载中弹框
                        status:false,
                        txt:'加载中...'
                    },
                    dialog:{    //带按钮提示框
                        status:false,
                        txt:'这里是提示内容'
                    },
                    alert:{     //提示自动消失框
                        status:false,
                        txt:'这里是提示内容'
                    }
                },
                methods: {   
                    validate(){   //验证手机号码是否正确
                        var This = this;
                        var validate = this.isPhone(this.lottery.phone);
                        if(!validate){
                            This.showDialog('手机号码格式不正确');
                            return false;
                        };
                        this.alertModel.lotterySuccess = false;
                        this.alertModel.phoneShow = true;
                    },
                    randomHandle: function (x, y) {
                        // x是随机数上限，y是随机数下限
                        let rand = parseInt(Math.random() * (x - y + 1) + y);
                        return rand;
                    },
                    getInfo: function () {
                        var This = this;
                        $.ajax({
                            url: This.linkHref.bind,
                            dataType: 'json',
                            type: 'post',
                            data: {},
                            async: true,
                            success: function (res) {
                                
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                console.log(XMLHttpRequest)
                            }
                        })
                    },
                    isPhone : function(str) {  //判断是否是正确的手机
                        if(typeof str === 'number'){
                            str = str.toString();
                        }
                        return /^0?1[3|4|5|7|8][0-9]\d{8}$/.test(str);
                    },
                    showDialog(msg){
                        this.alertModel.dialog = true;
                        this.dialogTxt = msg
                    },
                    init: function () {
                        var This = this;
                        // this.getInfo();  //获取个人信息
                    }
                },
                mounted: function () {
                    this.init();

                }
            })
        })
    </script>

</body>

</html>